<?xml version="1.0" encoding="UTF-8"?>  
<config>  
    <item>  
    <name>LDB_APP</name>  
    <threads>Shaanxi Xi'an</threads>  
    <height>13759911917</height>  
    <width>miaomiao@home.com</width>
    <username>libin</username>
    <password>123456</password>
    <port>55555</port>	
    </item>  
</config>  